.menu {
    height: 90vh;
    display: flex;
    align-items: center;
}

.menu-background {
    height: 100vh;
    width: 100vw;

    background-image: url('./img/delta.jpeg');
    background-size: 100vmax;
    opacity: 0.3;

    position: absolute;
    transition: 0.3s;
    left: 0px;
    top: 0%;
    z-index: -1;
}

.menu-items:hover ~ .menu-background {
    filter: blur(8px);
    background-size: 105vmax;
}

.menu-items {
    z-index: 1;
}

.menu-item {
    color: white;
    font-size: 5vw;
    font-family: "Ibarra Real Nova", serif;

    display: block;
    text-decoration: none;
    padding-left: 40%;

    opacity: 0.6;
    transition: 0.3s;
    z-index: 1;
}

.menu-item:hover {
    opacity: 1;
    font-size: 5.5vw;
}